%tr
  -if @preloaded_picklist
    %th.special Institution
    %th.special Picklist
  -unless @preloaded_picklist
    %td Show Dupes
  %th Local Number
  %th OCLC
  %th Title
  %th Author
  %th Volume
  %th Chronology
  %th Call Number
  %th Publisher
  %th Publisher Place
  %th Delete