%tr
  %td=picklists_row.filename
  %td=link_to "View Duplicates", dupes_picklist_books_path(picklists_row)
  %td=link_to "Show Picklist", picklist_books_path(picklists_row)
  %td=picklists_row.created_at.to_s
  %td=button_to "x", picklist_path(picklists_row), :confirm => "Are you sure you want to delete #{picklists_row.filename}?\n\nThis cannot be undone.", :method => :delete